<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message from <%= message.user %></title>
</head>
<body>
  <p>Text: <%= message.text %></p>
  <p>User: <%= message.user %></p>
  <p>Date posted: <%= message.added %></p>
</body>
</html>